@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body {
	background-color: #fbfbd4;
	font-family: 'PT Serif', serif;
	margin: 0;
}

header {
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 10px 0;
	margin: 0 0 30px 0;
}

#title,
#subtitle,
#img-caption,
#poem {
	text-align: center;
}

#title {
	font-size: 2.5em;
}

#image {
	display: block;
	max-width: 75%;
	height: auto;
	margin: auto;
}

#tribute-info {
	width: 75%;
	margin: auto;
}

#timeline-heading {
	display: block;
	margin: auto;
	max-width: 100%;
	background-color: #333;
	color: #fff;
	text-align: center;
}

#intro,
#more-details {
	font-size: 1.1em;
}

footer {
	width: 100%;
	height: 50px;
	background-color: #333;
	color: #fff;
	text-align: center;
	overflow: hidden;
}